<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - BCR - Car Management Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/265bfdaf25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="dashboard__row dashboard">
      <aside class="dashboard__aside p-0 darkBlue04">
        <nav class="p-0">
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/square.png" style="width: 40%;" alt="" class="rounded" style="width: 50px !important;"/>
          </div>
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/icon--home.svg" style="width: 40%;" alt="Home Icon" class="aside__nav-icon"/>
            <p class="text-white fw-light">Board</p>
          </div>
          <div class="aside__nav-item active d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/icon--car.svg" alt="Home Icon" class="aside__nav-icon"/>
            <p class="text-white fw-bold">Cars</p>
          </div>
        </nav>
      </aside>
      <main class="dashboard__main bg-warning">
        <!-- Nav -->
        <nav class="nav-height navbar navbar-expand-lg navbar-light bg-light shadow-sm">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="static/images/rectangle.png" alt="" style="width: 40% !important;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: -118px;">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bars"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/">Cars</a></li>
                    <li><a class="dropdown-item" href="/">List Car</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/add">Add New Car</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex me-3 mb-0">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-darkBlue04 text-light" type="submit">Search</button>
              </form>
              <div class="nav__profil d-flex align-items-center">
                <div class="nav__profil-img rounded-circle bg-primary d-flex justify-content-center align-items-center me-2">
                  <img src="static/images/profil.png" alt="" srcset=""/>
                </div>
                <p class="fs-5">Unis Badri</p>
                <img src="static/images/icon--arrow.svg" alt="Arrow Icons" style="width: 35px;"/>
              </div>
            </div>
          </div>
        </nav>
        <div class="dashboard__main-container row neutral01">
          <div class="col-md-1 d-flex flex-column p-0">
            <a href="/add" class="fw-bold px-3 py-3 list-active">CARS</a>
            <a href="/" class="fw-bold px-3 py-3">List Car</a>
          </div>
          <div class="dashboard__main-content neutral02 col-md-11 p-3">
            <div class="path mb-4">
              <a href="/" class="fw-bold">Cars</a>
              <i class="fa-solid fa-chevron-right"></i>
              <a href="/" class="fw-bold">List Car</a>
              <i class="fa-solid fa-chevron-right"></i>
              <a href="/add" class="fw-normal">Add New Car</a>
            </div>
            <div class="dashboard__list d-flex justify-content-between align-items-center mb-4 mb-md-3">
              <h3 class="fw-bolder">Add New Car</h3>
            </div>
            <div class="dashboard__form">
              <form action="/api/car" method="post" class="neutral01 py-4" style="border-radius: 8px;">
                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="name" class="col-md-3">Nama</label>
                    <input type="text" class="col-md-9 form-control form-width" name="name" id="name" autocomplete="off"/>
                  </div>
                </div>
                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="price" class="col-md-3">Sewa Per Hari</label>
                    <input type="number" class="col-md-9 form-control form-width" name="price" id="price" autocomplete="off"/>
                  </div>
                </div>
                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="size" class="col-md-3">Ukuran</label>
                    <select name="size" id="size" class="form-select form-width fw-normal">
                      <option value="small" class="fw-normal">Small</option>
                      <option value="medium" class="fw-normal">Medium</option>
                      <option value="large" class="fw-normal">Large</option>
                    </select>
                  </div>
                </div>
                <div class="container-fluid mb-4">
                  <div class="row">
                    <label for="foto" class="col-md-3">Foto</label>
                    <div class="col-md-9 p-0">
                      <div class="input-group form-width">
                        <input type="text" class="form-control" name="foto" id="foto" autocomplete="off"/>
                        <p class="input-group-text"><img src="static/images/upload.png" alt="" ></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container-fluid mb-4">
                  <div class="d-flex">
                    <button type="input" class="btn btn-primary-outline me-4">Cancel</button>
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="static/js/index.js"></script>
</html>