<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CMS - BCR - Car Management Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <script src="https://kit.fontawesome.com/265bfdaf25.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <!-- Sidebar -->
    <div class="dashboard__row dashboard">
      <aside class="dashboard__aside p-0 darkBlue04">
        <nav class="p-0">
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/square.png" style="width: 40%;" alt="" class="rounded" style="width: 50px !important;"/>
          </div>
          <div class="aside__nav-item d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/icon--home.svg" alt="Home Icon" class="aside__nav-icon"/>
            <p class="text-white fw-light">Board</p>
          </div>
          <div class="aside__nav-item active d-flex flex-column align-items-center justify-content-center">
            <img src="static/images/icon--car.svg" alt="Home Icon" class="aside__nav-icon"/>
            <p class="text-white fw-bold">Cars</p>
          </div>
        </nav>
      </aside>
      <main class="dashboard__main bg-warning">
        <!-- Nav -->
        <nav class="nav-height navbar navbar-expand-lg navbar-light bg-light shadow-sm">
          <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="static/images/rectangle.png" alt="" style="width: 40% !important;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: -118px;">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-bars"></i></a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/">Cars</a></li>
                    <li><a class="dropdown-item" href="/">List Car</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="/add">Add New Car</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex me-3 mb-0">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search"/>
                <button class="btn btn-darkBlue04 text-light" type="submit">Search</button>
              </form>
              <div class="nav__profil d-flex align-items-center">
                <div class="nav__profil-img rounded-circle bg-primary d-flex justify-content-center align-items-center me-2">
                  <img src="static/images/profil.png" alt="" srcset=""/>
                </div>
                <p class="fs-5">Unis Badri</p>
                <img src="static/images/icon--arrow.svg" alt="Arrow Icons" style="width: 35px;"/>
              </div>
            </div>
          </div>
        </nav>
        <div class="dashboard__main-container row neutral01">
          <div class="col-md-1 d-flex flex-column p-0">
            <a href="/add" class="fw-bold px-3 py-3">CARS</a>
            <a href="/" class="fw-bold px-3 py-3 list-active">List Car</a>
          </div>
          <div class="dashboard__main-content neutral02 col-md-11 p-3">
            <div class="path mb-4">
              <a href="/" class="fw-bold">Cars</a>
              <i class="fa-solid fa-chevron-right"></i>
              <a href="/" class="fw-normal">List Car</a>
            </div>
            <div class="dashboard__list d-flex justify-content-between align-items-center mb-4 mb-md-2">
              <h3 class="fw-bolder">List Car</h3>
              <a href="/add" class="btn btn-darkBlue04 text-light" style="font-size: 18px;"><span class="me-2"><i class="fa-light fa-plus"></i></span>Add New Car</a>
            </div>
            <div class="dadhboard__size mb-md-4 mb-5">
              <a id="size-all" class="btn-size btn-size-active text-darkBlue02 btn fw-bold bg-light me-3">All</a>
              <a id="size-small" class="btn-size text-darkBlue02 btn fw-bold bg-light me-3">Small</a>
              <a id="size-medium" class="btn-size text-darkBlue02 btn fw-bold bg-light me-3">Medium</a>
              <a id="size-large" class="btn-size text-darkBlue02 btn fw-bold bg-light me-3">Large</a>
            </div>
            <div class="dashboard__cars d-flex flex-wrap justify-content-center justify-content-md-center justify-content-lg-start">
              {{#each cars}}
                <div class="card p-3 mb-4 me-4 shadow-sm" style="width: 25rem;">
                  <img src={{this.image}} class="card-img-top mt-5 mb-5" alt="Gambar Mobil {{this.name}}"/>
                  <div class="card-body">
                    <h6 class="card-title mb-2"> {{this.name}} </h6>
                    <h5 class="card-text fw-bolder mb-2">Rp {{this.price}} / Hari</h5>
                    <p class="card-text fw-normal mb-5 d-flex align-items-center">
                      <img src="static/images/icon--clock.svg" alt="Clock Icon" class="me-2" style="display: inline-block; width: 18px;"/>Update at {{this.updatedAt}}</p>
                    <div class="d-flex justify-content-between mb-4">
                      <a data-car_id="{{this.id}}" class="btn-delete btn text-danger d-flex align-items-center justify-content-evenly px-xl-4 px-md-3 py-xl-3 py-md-2"><img src="static/images/icon--trash.svg" alt="Delete Icon" style="width: 18px !important; display: inline-block;"/>Delete</a>
                      <a href="/update?id={{this.id}}" class="btn btn-success text-light d-flex align-items-center justify-content-evenly px-xl-4 px-md-3 py-xl-3 py-md-2"><img src="static/images/icon--edit.svg" alt="Edit Icon" style="width: 18px !important; display: inline-block;"/>Update</a>
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="model bg-white rounded-3 shadow-lg p-3 d-flex flex-column justify-content-start align-items-center">
      <img src="static/images/img-cars.png" alt="Logo Gambar" class="card-img-top mb-3"/>
      <h3 class="mb-3">Menghapus Data Mobil</h3>
      <p class="text-center mb-3">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
      <div class="d-flex mb-3">
        <a class="btn btn-primary px-4 me-4 delete-confirm" type="submit" href="">Ya</a>
        <a class="btn btn-primary-outline px-4 delete-cancel">Tidak</a>
      </div>
    </div>
  </body>
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="static/js/index.js"></script>
</html>